{% extends "account/base.html"  %}

{% block title %} Login {% endblock title %}

<!-- Specific Page CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
{% block body_title %}Login{% endblock body_title %}
{% block content %}
                  <form class="user" method="post">
                    {% csrf_token %}
                      {% for field in form %}
                      <div class="form-group">
                          {% if field.errors %}
                        <ol>
                          {% for error in field.errors %}
                            <li><strong>{{ error|escape }}</strong></li>
                          {% endfor %}
                        </ol>
                        {% endif %}
                        <label for="{{field.id_for_label}}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.help_text %}
                          <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                      </div>
                      {% endfor %}
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </div>
                  </form>
            <hr>
                  <div class="text-center">
                    <a class="font-weight-bold small" href="{% url 'account:register' %}">Create an Account!</a>
                  </div>
                  <div class="text-center">
                  </div>
                </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
