{% extends "account/base.html"  %}

{% block title %} Register {% endblock title %}

<!-- Specific Page CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
{% block body_title %}Register{% endblock body_title %}
{% block content %}
                  <form method="post">
                      {% csrf_token %}
                      {% for field in form %}
                      <div class="form-group">
                          {% if field.errors %}
                        <ol>
                          {% for error in field.errors %}
                            <li><strong>{{ error|escape }}</strong></li>
                          {% endfor %}
                        </ol>
                        {% endif %}
                        <label for="field.id_for_label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.help_text %}
                          <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                      </div>
                      {% endfor %}
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                  <!--  <div class="form-group">
                      <label>First Name</label>
                      <input type="text" class="form-control" id="exampleInputFirstName" placeholder="Enter First Name">
                    </div>
                    <div class="form-group">
                      <label>Last Name</label>
                      <input type="text" class="form-control" id="exampleInputLastName" placeholder="Enter Last Name">
                    </div>
                    <div class="form-group">
                      <label>Email</label>
                      <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"
                        placeholder="Enter Email Address">
                    </div>
                    <div class="form-group">
                      <label>Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <label>Repeat Password</label>
                      <input type="password" class="form-control" id="exampleInputPasswordRepeat"
                        placeholder="Repeat Password">
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </div>
                    {% include 'account/includes/oauth.html' %}
                  </form>
                                  <hr>
                  <div class="text-center">
                    <a class="font-weight-bold small" href="{% url 'account:login' %}">Already have an account?</a>
                  </div>
                  <div class="text-center">
                  </div> -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
