{% extends "home/base.html" %}
{% load static %}
{% block title %} Details of {{router_information.routername }} router {% endblock title %}
<!-- Specific Page CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery.terminal/css/jquery.terminal.min.css"/>
{% endblock stylesheets %}

{% block content %}
<div class="container-fluid" id="container-wrapper">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{ router_information.routername }}:{{ router_information.enterprise }}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home:index' %}">Home</a></li>
        <li class="breadcrumb-item">Details</li>
      <li class="breadcrumb-item active" aria-current="page">{{ router_information.routername }}</li>
    </ol>
  </div>

    <div class="row">
        <!-- List Interfaces of router -->
            <div class="col-lg-6">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Interfaces</h6>
                </div>
                <div class="table-responsive p-3">
                  <table class="table align-items-center table-flush table-hover" id="dataTableHover1">
                    <thead class="thead-light">
                      <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Mac-Address</th>
                        <th>Running</th>
                        <th>actual-mtu</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Mac-Address</th>
                        <th>Running</th>
                        <th>actual-mtu</th>
                      </tr>
                    </tfoot>
                    <tbody>
                    {% for interface in interfaces %}
                        <tr>
                          <td>{{ interface.name }}</td>
                          <td>{{ interface.type }}</td>
                          <td>{{ interface.mac_address }}</td>
                          <td>{{ interface.running }}</td>
                          <td>{{ interface.actual_mtu }}</td>
                        </tr>
                    {% endfor %}


                    </tbody>
                  </table>
                </div>
              </div>
            </div>
      <div class="col-lg-6">
        <!-- List of active users -->
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Active Users</h6>
                </div>
                <div class="table-responsive p-3">
                  <table class="table align-items-center table-flush table-hover" id="dataTableHover2">
                    <thead class="thead-light">
                      <tr>
                        <th>Name</th>
                        <th>When</th>
                        <th>Via</th>
                        <th>Group</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Name</th>
                        <th>When</th>
                        <th>Via</th>
                        <th>Group</th>
                      </tr>
                    </tfoot>
                    <tbody>
                    {% for active_user in active_users %}
                        <tr>
                          <td>{{ active_user.name }}</td>
                          <td>{{ active_user.when }}</td>
                          <td>{{ active_user.via }}</td>
                          <td>{{ active_user.group }}</td>
                        </tr>
                    {% endfor %}


                    </tbody>
                  </table>
                </div>
              </div>
            </div>
    </div>
  <div class="row">
        <!-- List Interfaces of router -->
            <div class="col-lg-12">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Router operating statistic</h6>
                </div>
                <div class="table-responsive p-3">
                  <table class="table align-items-center table-flush table-hover" id="dataTableHover3">
                    <thead class="thead-light">
                      <tr>
                        <th>Uptime</th>
                        <th>Free Memory</th>
                        <th>Total Memory</th>
                        <th>CPU</th>
                        <th>CPU Count</th>
                        <th>CPU Frequency</th>
                        <th>CPU Load</th>
                        <th>Free HDD Space</th>
                        <th>Total HDD Size</th>
                        <th>Version</th>
                        <th>Build Time</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Uptime</th>
                        <th>Free Memory</th>
                        <th>Total Memory</th>
                        <th>CPU</th>
                        <th>CPU Count</th>
                        <th>CPU Frequency</th>
                        <th>CPU Load</th>
                        <th>Free HDD Space</th>
                        <th>Total HDD Size</th>
                        <th>Version</th>
                        <th>Build Time</th>
                      </tr>
                    </tfoot>
                    <tbody>
                      {% for statistic in operating_statistics %}
                        <td>{{ statistic.uptime }}</td>
                        <td>{{ statistic.free_memory }}</td>
                        <td>{{ statistic.total_memory }}</td>
                        <td>{{ statistic.cpu }}</td>
                        <td>{{ statistic.cpu_count }}</td>
                        <td>{{ statistic.cpu_frequency }}</td>
                        <td>{{ statistic.cpu_load }}</td>
                        <td>{{ statistic.free_hdd_space }}</td>
                        <td>{{ statistic.total_hdd_space }}</td>
                        <td>{{ statistic.version }}</td>
                        <td>{{ statistic.build_time }}</td>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
  </div>
  <div class="row">
    <div class="col-lg-5">
        <!-- List of available ports -->
              <div class="card mb-6">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">List of Available ports</h6>
                </div>
                <div class="table-responsive p-3">
                  <table class="table align-items-center table-flush table-hover" id="dataTableHover4">
                    <thead class="thead-light">
                      <tr>
                        <th>Name</th>
                        <th>Used By</th>
                        <th>Channels</th>
                        <th>Baud Rate</th>
                        <th>Flow Control</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Name</th>
                        <th>Used By</th>
                        <th>Channels</th>
                        <th>Baud Rate</th>
                        <th>Flow Control</th>
                      </tr>
                    </tfoot>
                    <tbody>
                    {% for port in ports %}
                        <tr>
                          <td>{{ port.name }}</td>
                          <td>{{ port.used_by }}</td>
                          <td>{{ port.channels }}</td>
                          <td>{{ port.baud_rate }}</td>
                          <td>{{ port.flow_control }}</td>
                        </tr>
                    {% endfor %}


                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-lg-7">
        <!-- List of address ip of interfaces -->
              <div class="card mb-8">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">IP Address with Interface</h6>
                </div>
                <div class="table-responsive p-3">
                  <table class="table align-items-center table-flush table-hover" id="dataTableHover5">
                    <thead class="thead-light">
                      <tr>
                        <th>Address</th>
                        <th>Network</th>
                        <th>Interface</th>
                        <th>Invalid</th>
                        <th>Disabled</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Address</th>
                        <th>Network</th>
                        <th>Interface</th>
                        <th>Invalid</th>
                        <th>Disabled</th>
                      </tr>
                    </tfoot>
                    <tbody>
                    {% for ipaddress in ipaddresses %}
                        <tr>
                          <td>{{ ipaddress.address }}</td>
                          <td>{{ ipaddress.network }}</td>
                          <td>{{ ipaddress.interface }}</td>
                          <td>{{ ipaddress.invalid }}</td>
                          <td>{{ ipaddress.disabled }}</td>
                        </tr>
                    {% endfor %}


                    </tbody>
                  </table>
                </div>
              </div>
            </div>
    </div>

    </div>


{% endblock content %}

{% block javascripts %}

<!-- Page level plugins -->
  <script src="https://cdn.jsdelivr.net/npm/jquery.terminal/js/jquery.terminal.min.js"></script>
 <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>
 <!-- Page level custom scripts -->
  <script>
    $(document).ready(function () {
      $('#dataTableHover1').DataTable(); // ID From dataTable with Hover
      $('#dataTableHover2').DataTable(); // ID From dataTable with Hover
      $('#dataTableHover3').DataTable(); // ID From dataTable with Hover
      $('#dataTableHover4').DataTable(); // ID From dataTable with Hover
      $('#dataTableHover5').DataTable(); // ID From dataTable with Hover
    });
  </script>
{% endblock javascripts %}
