{% extends "home/base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock title %}
<!-- Specific Page CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home:index' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
    </div>
    {% comment %}
    <div class="row mb-4">
        <div class="col-col-3 col-md-4 mb-3">
            <div class="card">
                <div class="card-header">Online</div>
                <div class="card-body">
                    <div class="h2 mb-0 font-weight-bold text-gray-800"> 8 </div>
                    <div class="mt-2 mb-0 text-muted text-xs">
                        <span>Routers</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-col-3 col-md-4 mb-3">
            <div class="card">
                <div class="card-header">Offline</div>
                <div class="card-body">
                    <div class="h2 mb-0 font-weight-bold text-gray-800"> 12 </div>
                    <div class="mt-2 mb-0 text-muted text-xs">
                        <span>Routers</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-col-3 col-md-4 mb-3">
            <div class="card">
                <div class="card-header">Clients</div>
                <div class="card-body">
                    <div class="h2 mb-0 font-weight-bold text-gray-800"> 10 </div>
                    <div class="mt-2 mb-0 text-muted text-xs">
                        <span>Online</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endcomment %}

    <div class="row">
        <!-- List Devices -->
            <div class="col-lg-12">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">List Routers</h6>
                </div>
                <div class="table-responsive p-3">
                  <table class="table align-items-center table-flush table-hover" id="dataTableHover1">
                    <thead class="thead-light">
                      <tr>
                        <th>Serial Number</th>
                        <th>Router Name</th>
                        <th>Enterprise</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Serial Number</th>
                        <th>Router Name</th>
                        <th>Enterprise</th>
                        <th>Status</th>
                      </tr>
                    </tfoot>
                    <tbody>
                    {% for router in routers %}
                        <tr>
                          <td><a href="{% url 'home:details' router.serialnumber %}">{{ router.serialnumber }}</a></td>
                          <td>{{ router.routername }}</td>
                          <td>{{ router.enterprise }}</td>
                          <td>{{ router.status }}</td>
                        </tr>
                    {% endfor %}


                    </tbody>
                  </table>
                </div>
              </div>
            </div>
      <!-- end List Routers -->
            <div class="col-lg-12">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Views Logs</h6>
                </div>
                <div class="table-responsive p-3">
                  <table class="table align-items-center table-flush table-hover" id="dataTableHover2">
                    <thead class="thead-light">
                      <tr>
                        <th>Serail Number</th>
                        <th>RouterName</th>
                        <th>topics</th>
                        <th>message</th>
                        <th>time</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Serail Number</th>
                        <th>RouterName</th>
                        <th>topics</th>
                        <th>message</th>
                        <th>time</th>
                      </tr>
                    </tfoot>
                    <tbody>
                      {% for log in logs %}
                        <tr>
                          <td><a href="{% url 'home:details' log.router_id %}">{{ log.router_id }}</a></td>
                          <td>{{ log.router.routername }}</td>
                          <td>{{ log.topics }}</td>
                          <td>{{ log.message }}</td>
                          <td>{{ log.time }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
        <!-- Area Charts -->
        {% comment %}
            <div class="col-lg-12">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Area Chart</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
        {% endcomment %}
    </div>
</div>
{% endblock content %}


    {% block javascripts %}
<!-- Page level plugins -->
 <!--- <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script> -->
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
  <!-- Page level custom scripts -->
  <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
<!-- Page level plugins -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>

  <!-- <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>-->
 <!-- Page level custom scripts -->
  <script>
    $(document).ready(function () {
      $('#dataTableHover1').DataTable(); // ID From dataTable with Hover
      $('#dataTableHover2').DataTable(); // ID From dataTable with Hover
    });
  </script>
{% endblock javascripts %}