{% extends "home/base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock title %}
<!-- Specific Page CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="container-fluid" id="container-wrapper">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">List Routers</h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home:index' %}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">List Routers</li>
            </ol>
          </div>
    <div class="row">
        <!-- DataTable with Hover -->
            <div class="col-lg-12">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">List Routers</h6>
                </div>
                <div class="table-responsive p-3">
                  <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                    <thead class="thead-light">
                      <tr>
                        <th>Serial Number</th>
                        <th>Router Name</th>
                        <th>Enterprise</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Serial Number</th>
                        <th>Router Name</th>
                        <th>Enterprse</th>
                        <th>Status</th>
                      </tr>
                    </tfoot>
                    <tbody>
                      {% for router in routers %}
                        <tr>
                          <td><a href="{% url 'home:details' router.serialnumber %}">{{ router.serialnumber }}</a></td>
                          <td>{{ router.routername }}</td>
                          <td>{{ router.enterprise }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
    </div>

</div>

{% endblock content %}

{% block javascripts %}
<!-- Page level plugins -->
  <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
 <!-- Page level custom scripts -->
  <script>
    $(document).ready(function () {
      $('#dataTable').DataTable(); // ID From dataTable
      $('#dataTableHover').DataTable(); // ID From dataTable with Hover
    });
  </script>
{% endblock javascripts %}